a {
  text-decoration:none;
}
button,input,select,textarea {
  background-image:none;
}
body,button,html,input {
  font-family:chivo,Arial,sans-serif;
  color: rgba(0,0,0,0.8);
}
body {
  background-color:#e4ebf3;
  font-size:1em;
  line-height:1.73333;
  margin:0;
}
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;

  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
}
.footer {
  flex: 1 100%;
  background: #e0e4e7;
}
.links {
  flex: 1 100%;
  font-size: 4em;
}
.slogan {
  flex: 1 100%;
  background: #fff;
  font-size: 23px;
  line-height: 1.7em;
  letter-spacing:.03em;
  padding-bottom: 4em;
  padding-top: 4em;
  padding-left: 6%;
  padding-right: 6%;
}
.header {
  flex: 1 50%;
  background-color: #39588f;
}
.flex-item {
  text-align: center;
  color: #191919;
  font-size: 1.75em;
}
.flex-item h2 {
  margin: 0;
  font-size: 1.2em;
}
.kris, .brandon, .toran {
  flex: 1 1 auto;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 6vw;
  padding-bottom: 3vw;
}
h1 {
  margin: 0;
  font-size: 2em;
  color: #fff;
  text-shadow: 2px 2px 6px #000;
  justify-content: center;
  align-items: center;
  padding-top: 16vw;
  line-height: 1.2em;
}
.background {
  margin: auto;
  width: 98vw;
  height: 55vw;
  max-width: 940.8px;
  max-height: 529.19px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 4px;
  background-image: url("/assets/background.jpg");
}
.hosts {
  max-width: 1300px;
  margin: auto;
}
.host__links {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.subscribe {
  padding-top: 12px;
  max-width: 1100px;
  margin: auto;
}
.subscribe__links {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.links .subscribe__link a {
  color: rgba(0,0,0,0.8);
}
.subscribe__link {
  flex: 0 1 auto;
}
.subscribe__link a {
  background: #f1c15d;
  display: block;
  color: rgba(0,0,0,0.8);
  text-shadow: 1px 1px 0 rgba(255,255,255,0.2);
  box-shadow: inset 0 0 0 2px rgba(0,0,0,0.05);
  font-size: 1.1rem;
  padding: 0.7rem 1rem;
  text-align: center;
  border-radius: 3px;
  font-family: sans-serif;
  font-weight: 100;
  transition: all 0.2s;
  display: flex;
  align-items: center;
}

.subscribe__link a:hover {
  box-shadow: inset 0 0 0 2px rgba(0,0,0,0.4);
}

.subscribe__link a:before {
  display: inline-block;
  width: 20px;
  height: 20px;
  content: '';
  margin-right: 0.7rem;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 0 0 0 2px rgba(0,0,0,0.05);
}
.subscribe__link--subscribe a {
  pointer-events: none;
  background: linear-gradient(to bottom, #f1c15d 0%, #f1c260 100%);
  text-decoration: none;
}

.subscribe__link--subscribe a:before {
  width: 0;
  box-shadow: none;
  margin: 0;
}
.subscribe__link--itunes a {
  background: linear-gradient(to bottom, #cd66f6 0%, #9a3dd1 80%, #8e34c9 100%);
}
.subscribe__link--itunes a:before {
  background-image: url("/assets/icons/itunes.jpg");
}
.subscribe__link--overcast a {
  background: linear-gradient(to bottom, #ff8a0a 0%, #ff6930 100%);
}
.subscribe__link--overcast a:before {
  background-image: url("/assets/icons/overcast.jpg");
}
.subscribe__link--rss a {
  background: linear-gradient(to bottom, #f7a336 0%, #eb6d1e 96%, #eb6c1e 100%);
}
.subscribe__link--rss a:before {
  background-image: url("/assets/icons/rss.svg");
}
.subscribe__link--googleplay a {
  background: linear-gradient(to bottom, #25bbc3 0%, #38d7df 100%);
}
.subscribe__link--googleplay a:before {
  background-image: url("/assets/icons/googleplay.png");
  background-color: #fff;
}
.circle {
  max-width: 40vw;
  border: 1.8vw solid #fff;
  width: 50%;
  border-radius: 500px;
}
@media (max-width: 570px) {
  .subscribe__link {
    flex: 1 1 auto;
  }
}
@media only screen and (min-width : 768px) {
  h1 {
    font-size: 4em;
    padding-top: 10vw;
  }
  .kris, .brandon, .toran {
    flex: 1;
    min-height: 50vh;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 3vw;
  }
  .circle {
    max-width: 16vw;
    border: .5vw solid #fff;
    width: 50%;
    border-radius: 500px;
  }
  .slogan {
    padding-left: 25%;
    padding-right: 25%;
  }
}
@media (max-width: 800px) {
  .subscribe__links {
    justify-content: space-between;
  }
}
@media (max-width: 1000px) {
  .subscribe__link--subscribe {
    display: none;
  }
}
