a {
  text-decoration:none;
}
button,input,select,textarea {
  background-image:none;
}
body,button,html,input {
  font-family:chivo,Arial,sans-serif;
  color:#5e5e5e;
}
body {
  background-color:#e4ebf3;
  font-size:1em;
  line-height:1.73333;
  margin:0;
}
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;

  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
}
.footer {
  flex: 1 100%;
  background: #e0e4e7;
}
.hosts {
  flex: 1 100%;
  font-size: 4em;
  margin-bottom: -10vw;
}
.slogan {
  flex: 1 100%;
  background: #fff;
  font-size: 23px;
  line-height: 1.7em;
  letter-spacing:.03em;
  padding-bottom: 4em;
  padding-top: 4em;
  padding-left: 6%;
  padding-right: 6%;
}
.header {
  flex: 1 50%;
  background-color: #39588f;
}
.flex-item {
  text-align: center;
  color: #191919;
  font-size: 1.75em;
}
.flex-item h2 {
  margin: 0;
  font-size: 1.2em;
}
.kris, .brandon, .toran {
  padding-top: 10vw;
  flex: 1 1 auto;
  min-height: 32vh;
  padding-left: 5vw;
  padding-right: 5vw;
}
h1 {
  margin: 0;
  font-size: 2em;
  color: #fff;
  text-shadow: 2px 2px 6px #000;
  justify-content: center;
  align-items: center;
  padding-top: 16vw;
  line-height: 1.2em;
}
.background {
  margin: auto;
  width: 98vw;
  height: 55vw;
  max-width: 768px;
  max-height: 432px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 4px;
  background-image: url("/assets/background.jpg");
}
.circle {
  max-width: 40vw;
  border: 1.8vw solid #fff;
  width: 50%;
  border-radius: 500px;
}
@media only screen and (min-width : 768px) {
  h1 {
    font-size: 4em;
    padding-top: 10vw;
  }
  .kris, .brandon, .toran {
    flex: 1;
    min-height: 50vh;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 4vw;
  }
  .circle {
    max-width: 16vw;
    border: .5vw solid #fff;
    width: 50%;
    border-radius: 500px;
  }
  .slogan {
    padding-left: 25%;
    padding-right: 25%;
  }
  .hosts {
    margin-bottom: -4vw;
  }
}

