body {
  margin: 0;
  padding: 0;
  background: #e4ebf3;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}
a {
  color: #1d77c3;
}
@font-face {
  font-family: 'FontAwesome';
  src: url("/assets/webfonts/fa-regular-400.eot?v=4.7.0");
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.background a {
  color: #fff;
  text-decoration: none;
}
.header {
  flex: 1 1 auto;
  background-color: #39588f;
}
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
.header {
  flex: 1 1 auto;
  text-align: center;
  background-color: #39588f;
}
.content {
  flex: 1 100%;
  font-size: 4em;
}
h1 {
  font-size: 3em;
  color: #fff;
  text-shadow: 2px 2px 6px #000;
  justify-content: center;
  align-items: center;
}
.content header {
  margin: 0 auto;
  width: 740px;
}
.podcast-episode-description {
  margin: 0 auto;
  width: 740px;
  color: #333;
  color: rgba(0, 0, 0, 0.75);
  font-size: 18px;
}
@media only screen and (max-width: 739px) {
  h1 {
    font-size: 2em;
  }
  .content header {
    margin-top: -30px;
    text-align: center;
  }
  .podcast-episode-description, .content header {
    width: 90%;
  }
}
.podcast-episode-title {
  font-size: 22px;
  line-height: 28px;
  margin: 0;
}
.podcast-episode-title > a {
  text-decoration: none;
}
@media only screen and (max-width: 490px) {
  .podcast-episode-title {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }
}
.podcast-episode-date {
  font-size: 12px;
  letter-spacing: 1px;
  opacity: 0.9;
  margin-bottom: 5px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}
.podcast-nav {
  padding-top: 10px;
}
.podcast-nav > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.podcast-nav > ul li {
  display: inline-block;
  padding: 0;
  margin: 0 5px 10px 5px;
  height: 40px;
  width: 40px;
  vertical-align: top;
}
.podcast-nav a.podcast-site-link {
  color: white;
  height: 40px;
  width: 40px;
}
.podcast-nav a.podcast-site-link i {
  color: inherit;
  font-size: 22px;
  line-height: 0;
  position: relative;
}
