<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Developing Fatigue Podcast {{ page.title }}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/post.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/font-awesome/all.css">
    <link rel="canonical" href="{{ page.url }}">
  </head>
  <body>
    <ul class="flex-container">
      <li class="flex-item header">
        <div class="background">
          <h1><a href="https://developingfatigue.fm/">Developing Fatigue Podcast</a></h1>
        </div>
        <nav class="podcast-nav">
          <ul>
            <li><a class="podcast-site-link" data-hint="Listen on Apple Podcasts" target="_blank" href="https://itunes.apple.com/us/podcast/developing-fatigue/id1400600307"><i class="fa fa-podcast"></i></a></li>
            <li><a class="podcast-site-link" data-hint="Listen on Google Play" target="_blank" href="https://play.google.com/music/listen?u=0#/ps/Idkygjwjgdvrxhlzfauvxtz4jmi"><i class="fa fa-play-circle"></i></a></li>
            <li><a class="podcast-site-link" data-hint="Listen on Overcast" target="_blank" href="https://overcast.fm/itunes1400600307/developing-fatigue"><i class="fa fa-broadcast-tower"></i></a></li>
            <li><a class="podcast-site-link" data-hint="Subscribe via RSS" target="_blank" href="http://developingfatigue.libsyn.com/rss"><i class="fa fa-rss"></i></a></li>
          </ul>
        </nav>
      </li>
      <li class="flex-item content">
        <header>
          <time class="podcast-episode-date" datetime="2018-06-14">
            {{page.date | date: '%B %d, %Y'}}
          </time>
          <h2 class="podcast-episode-title"><a href="{{page.url}}">{{page.title}}</a></h2>
        </header>
        <div class="podcast-episode-description">
          {{content}}
        </div>
      </li>
      <li class="flex-item footer">
      </li>
    </ul>
  </body>
</html>
